// Functional Colors
$color-primary-actions: #2089e5; // Links, Call-to-actions
$color-primary-text: #071d49; // Primary text, titles
$color-secondary-text: #465777; // Help notes, hints, etc.
$color-accent-text: #1f89e5;

$color-positive: #0cb800;
$color-negative: #e74c3c;
$color-neutral: #7d8799;
$color-blue: #00aeff;

