@import "mixins";

.tc-icon {
    background: center center no-repeat;
    background-size: 100%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

$svg-icon-list: (
    "page-not-found": "page-not-found.svg",
);

@each $name, $filename in $svg-icon-list {
    .tc-icon--#{$name} {
        width: 100px;
        @include tc-background-url("icons/#{$filename}");
    }
}
