html,
body {
    height: 100%;
}

body {
    overflow-y: scroll;
}

.tc-layout {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    height: 100%;

    &__container {
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &--disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    &__content {
        $left-padding: 48px;
        $header-height: 60px;

        top: $header-height;
        max-width: 100%;
        padding: 0 0 20px $left-padding;

        > * {
            display: block;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .tc-layout__content {
        padding: 0 10px;
        max-width: none;
    }
}
