@import "colors";
@import "functions";

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin font-roboto($size: false, $colour: false, $weight: false,  $lh: false) {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
}

@mixin text-truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin tc-background-url($path) {
    background-image: url("#{tc-full-path($path)}");
}
