@import "../../../styles/functions";

.tc-page-not-found {
    background: url("../../../../assets/icons/page-not-found.svg") no-repeat 50% 50%;
    background-size: contain;
    padding: 33px 0;
    min-height: 800px;
    width: 500px;
    margin: 0 auto;

    &__label {
        padding: 62px 0 0;
        text-align: center;
        font-size: calculateRem(42px);
    }
}
