<div class="tc-triangles">
    <div class="tc-triangles__label">Triangle Types Calculator</div>
    <div class="tc-triangles__container">
        <app-triangles-calculator></app-triangles-calculator>
    </div>
</div>
