@import "../styles/functions";
@import "../styles/mixins";

.tc-triangles {
    display: flex;
    flex-direction: column;

    &__label {
        flex: 1 1 auto;
        line-height: calculateRem(40px);
        font-size: calculateRem(32px);
        margin: 0 auto;
        padding-top: 50px;
        word-break: break-word;
        text-align: center;
    }

    &__container {
        padding-top: 50px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .tc-triangles__label {
        padding-top: 20px;
    }

    .tc-triangles__container {
        padding-top: 20px;
    }
}
