<form data-ts="Form" class="tc-triangles-form" [formGroup]="triangleForm">
    <fieldset [ngClass]="{
                'tc-triangles-form__field--invalid': isFieldInvalid(triangleForm.controls.firstSide)
            }">
        <label>
            <span>First Side</span>
            <input
                    id="firstSide"
                    formControlName="firstSide"
                    class="tc-triangles-input"
                    placeholder="Enter Side Length"
                    autocomplete="off"
                    min="0"
                    tabindex="1"
                    (focus)="onInputFocus(triangleSides.A)"
                    (focusout)="onInputFocusOut()"
                    type="number"/>
        </label>
    </fieldset>
    <fieldset [ngClass]="{
                'tc-triangles-form__field--invalid': isFieldInvalid(triangleForm.controls.secondSide)
            }">
        <label>
            <span>Second Side</span>
            <input
                    id="secondSide"
                    formControlName="secondSide"
                    class="tc-triangles-input"
                    placeholder="Enter Side Length"
                    autocomplete="off"
                    min="0"
                    tabindex="2"
                    (focus)="onInputFocus(triangleSides.B)"
                    (focusout)="onInputFocusOut()"
                    type="number"/>
        </label>
    </fieldset>
    <fieldset [ngClass]="{
                'tc-triangles-form__field--invalid': isFieldInvalid(triangleForm.controls.thirdSide)
            }">
        <label>
            <span>Third Side</span>
            <input
                    id="thirdSide"
                    formControlName="thirdSide"
                    class="tc-triangles-input"
                    placeholder="Enter Side Length"
                    autocomplete="off"
                    min="0"
                    tabindex="3"
                    (focus)="onInputFocus(triangleSides.C)"
                    (focusout)="onInputFocusOut()"
                    required="true"
                    type="number"/>
        </label>
    </fieldset>
    <div class="tc-triangles-form__errors"
         *ngFor="let item of errors">
        <div>
            <dl class="ts-errors">
                <dt>Error</dt>
                <dd class="tc-triangles-form__errors-text">{{item.text}}</dd>
                <dd class="tc-triangles-form__errors-text">{{item.description}}</dd>
            </dl>
        </div>
    </div>
    <div class="tc-triangles-form__button-block">
        <button data-ts="Button"
                class="ts-primary tc-triangles-form__button"
                [disabled]="!triangleForm.valid || errors.length"
                (click)="submitHandler()">
            <span>Calculate</span>
        </button>
    </div>
</form>
