.tc-triangles-form {
    width: 350px;
    border: 1px solid #ececec;
    border-radius: 3px;

    &__input {
        margin: 10px 10px 10px 0;
    }

    &__button-block {
        display: flex;
        padding: 15px 8px;
    }

    &__button {
        flex: 1 1 auto;
        margin: 0;
    }

    &__field {
        &--invalid {
            animation: shake 300ms linear;

            & + .tc-triangles-form__field .tc-triangles-input {
                border-top-color: #e56c71;
            }

            .tc-triangles-input:not(:focus) {
                background-color: #fcf0f1 !important;
                border-color: #e56c71;
            }

            .tc-triangles-input:-webkit-autofill {
                background-color: #fcf0f1 !important;
                border-color: #e56c71;
            }
        }
    }

    &__errors-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: normal;
    }
}
