<div class="tc-layout__container">
    <app-header></app-header>
    <main data-ts="Main">
        <div data-ts="MainContent" class="tc-layout__content">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
