@import "../../styles/colors";

.tc-triangles-sample {
    width: 137px;
    height: 137px;

    &__side {
        position: relative;
    }

    &__side-a {
        &::before {
            content: '';
            position: absolute;
            top: -6px;
            right: 52px;
            -webkit-transform: rotate(45deg);
            transform: rotate(35deg);
            width: 0;
            height: 133px;
            z-index: 10;
            border-radius: 4px;
            border-left: 4px solid $color-negative;
        }

        &--highlighted::before {
            border-left: 4px solid $color-blue;
        }
    }
    &__side-b {
        &::before {
            content: '';
            position: absolute;
            top: 22px;
            right: -1px;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            width: 0;
            height: 185px;
            border-radius: 4px;
            z-index: 10;
            border-left: 4px solid $color-negative;
        }

        &--highlighted::before {
            border-left: 4px solid $color-blue;
        }
    }
    &__side-c {
        &::before {
            content: '';
            position: absolute;
            top: -15px;
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            width: 0;
            height: 152px;
            z-index: 10;
            border-radius: 4px;
            border-left: 4px solid #e74c3c;
            left: 172px;
        }

        &--highlighted::before {
            border-left: 4px solid $color-blue;
        }
    }
}
