<div class="tc-triangles-sample">
    <div class="tc-triangles-sample__side tc-triangles-sample__side-a"
         [ngClass]="{
                'tc-triangles-sample__side-a--highlighted': side === 'a'
            }"></div>
    <div class="tc-triangles-sample__side tc-triangles-sample__side-b"
         [ngClass]="{
                'tc-triangles-sample__side-b--highlighted': side === 'b'
            }"></div>
    <div class="tc-triangles-sample__side tc-triangles-sample__side-c"
         [ngClass]="{
                'tc-triangles-sample__side-c--highlighted': side === 'c'
            }"></div>
</div>
