<div class="tc-triangles-calculator">
    <div class="tc-triangles-calculator__type-block">
        <div class="tc-triangles-calculator__type-label">
            Type: {{triangleType}}
        </div>
        <div *ngIf="triangleType"
             (click)="reset()"
             class="tc-triangles-calculator__reset-button">
            <button data-ts="Button" class="ts-secondary ts-micro">
                <span>Reset</span>
            </button>
        </div>
    </div>
    <div class="tc-triangles-calculator__sample">
        <app-triangles-sample [side]="highlightedSide"></app-triangles-sample>
    </div>
    <div class="tc-triangles-calculator__form">
        <app-triangles-form
                [reset]="resetForm"
                (inputFocus)="onFormInputFocus($event)"
                (formSubmitted)="onFormSubmit($event)">
        </app-triangles-form>
    </div>
</div>
