@import "../../styles/functions";

.tc-triangles-calculator {
    &__type-block {
        display: flex;
    }

    &__type-label {
        font-size: calculateRem(24px);
        flex: 1 1 auto;
        padding-bottom: 20px;
    }

    &__type-sample {
        flex: 1 1 auto;
    }
}
